{% extends 'posts/post_base.html' %}

{% block precontent %}
<div>
    {% if request.user.is_authenticated %}
    <div>
        <div class="content">
            <h5>Your Groups</h5>
            <ul>
                {% for groupmember in get_user_groups %}
                    <li>
                        <a href="{% url 'groups:detail' pk=groupmember.group.pk %}"></a> <!-- replace it with slug=groupmember.group.slug -->
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
    {% endif %}

<!--    <div>-->
<!--        <div>-->
<!--            <h5>All Groups</h5>-->
<!--            <ul>-->
<!--                {#{% for other_group in get_other_groups %} #}-->
<!--                <li>-->
<!--                    <a href="{# {% url 'groups:detail' pk=other_group.pk %} #}"></a>&lt;!&ndash; replace with slug=other_group.slug&ndash;&gt;-->
<!--                </li>-->
<!--                {# {% endfor %} #}-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</div>
{% endblock %}

{% block postcontent %}
    {% for post in post_list %}
        {% include 'posts/_post.html' %}
    {% endfor %}
{% endblock %}